<template>
  <main>
    <router-view></router-view>
  </main>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

export default {
  name: 'app'
};
</script>

<style lang="scss">
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>
