<template>
  <main>
    <h1>Home View, Mamá soy programador!</h1>

    <router-link to="/sign-in">Go to login</router-link>

  </main>
</template>

<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';



  export default {
    name: 'home'
  };
</script>
