<template>
  <div
    class="bg-lcoal flex h-screen justify-center items-center bg-black"
    style="background-image: url(../assets/images/background.png)"
  >
    <div class="shadow-xl mx-auto flex flex-row items-center bg-white w-7/12">
      <div class="container flex flex-col items-center mt-10">
        <img class="w-48" src="../assets/images/logo.png" alt="Logo" />
        <div class="flex flex-col items-center">
          <input
            class="font-secondary mt-10 border-b border-black w-64"
            type="text"
            placeholder="Code/e-mail"
          />
          <input
            class="font-secondary mt-10 border-b border-black w-64"
            type="password"
            placeholder="Password"
          />
        </div>
        <div class="mt-16">
          <router-link to="/register">
            <Button
              class="text-primary font-secondary mr-2 rounded-full focus:bg-primary focus:text-accent"
              text="Register"
            ></Button>
          </router-link>
          <router-link to="/">
            <Button
              class="text-accent bg-primary font-secondary ml-1 rounded-full focus:bg-accent focus:text-primary"
              text="Login"
            ></Button>
          </router-link>
        </div>
        <router-link
          class="text-blue-400 underline font-secondary mt-6 mr-24 mb-20"
          to="/"
        >Forgot my passsword</router-link>
      </div>

      <div class="container">
        <img class="h-full" src="../assets/images/background.png" alt="Image" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Button from '../components/Button.vue'

export default {
  name: 'login',
  data: {
    username: '',
    password: ''
  },
  components: {
    Button
  }
}
</script>
