<template>
  <div
    class="bg-lcoal flex h-screen justify-center items-center bg-black"
    style="background-image: url(../assets/images/background.png)"
  >
    <div class="shadow-xl mx-auto flex flex-row items-center bg-white w-7/12">
      <div class="container">
        <img class="h-full" src="../assets/images/background.png" alt="Image" />
      </div>

      <div class="container flex flex-col items-center mt-10">
        <img class="w-48" src="../assets/images/logo.png" alt="Logo" />
        <div class="flex flex-col items-center">
          <input
            class="font-secondary mt-8 border-b border-black w-64"
            type="text"
            placeholder="Student Code"
          />
          <input
            class="font-secondary mt-8 border-b border-black w-64"
            type="text"
            placeholder="Name"
          />
          <input
            class="font-secondary mt-8 border-b border-black w-64"
            type="text"
            placeholder="Last Name"
          />
          <input
            class="font-secondary mt-8 border-b border-black w-64"
            type="text"
            placeholder="e-mail"
          />
          <input
            class="font-secondary mt-8 border-b border-black w-64"
            type="password"
            placeholder="Password"
          />
          <input
            class="mt-8 border-b border-black w-64"
            type="password"
            placeholder="verify Password"
          />
        </div>
        <div class="mb-12">
          <router-link
            class="text-sm text-blue-400 underline font-secondary mr-2"
            to="/sign-in"
          >I have an acount</router-link>
          <router-link to="/register">
            <Button
              class="font-secondary mt-10 mr-2 rounded-full focus:bg-primary focus:text-accent"
              text="Register"
            ></Button>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import Vue from 'vue'
import Button from '../components/Button.vue'

export default {
  name: 'register',

  components: {
    Button
  }
}
</script>
