<template>
  <button class="border-2 border-primary rounded-button py-2 px-8 w-32">
    {{ text }}
  </button>
</template>

<script lang="ts">
import Vue from 'vue'

export default {
  props: {
    text: {
      type: String,
      required: true
    }
  }
}
</script>
